.contact-main-section {
    padding: 80px 20px;
}

.contact__main-wrapper {
    display: flex;
    gap: 24px;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.contact__left {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 312px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-shadow: 0px 0px 56px 0px rgba(0, 38, 3, 0.08);
    background-color: white;
}

.contact__right {
    border-radius: 8px;
    background: var(--Gray-Scale-White, #FFF);
    box-shadow: 0px 0px 56px 0px rgba(0, 38, 3, 0.08);
    padding: 50px 30px;
    max-width: 984px;
    width: 100%;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 0;
}

.contact__icon {
    width: 40px;
}

.contact__info:nth-child(1),
.contact__info:nth-child(2) {
    border-bottom: 1px solid #E6E6E6;
}

.contact__info p,
.contact__info a {
    color: #333;
    font-size: 16px;
}

.contact__info a:hover {
    text-decoration: underline;
}

.contact__text p {
    margin-top: 10px;
    font-size: 14px;
    color: #808080;
    line-height: 21px;
    max-width: 486px;
    width: 100%;
}

.contact__form {
    max-width: 884px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.contact__cookie-email input {
    max-width: 439px;
    width: 100%;
}

.contact__form input[type="text"],
.contact__form input[type='email'],
textarea {
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    background-color: white;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    padding: 16px;
    transition: all 0.2s;
    resize: none;
}

textarea {
    margin-bottom: 16px;
}

.contact__form input[type="text"]:focus,
.contact__form input[type='email']:focus,
textarea:focus {
    border: 1px solid var(--Branding-Success, #00B207);
}

.submit-button {
    width: 210px;
}