/* || general */

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper-max-width--style {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.h2--style {
    font-size: 32px;
    font-weight: 600;
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    line-height: 38px;
}

@media (max-width: 660px) {
    .h2--style {
        text-align: center;
    }
}

.more--link {
    color: #00B207;
    font-size: 16px;
    font-weight: 600;
}

.more--link i {
    color: #00B207;
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
    vertical-align: middle;
    transition: all 0.2s;
}

.more--link:hover i {
    transform: translateX(5px);
}

.section--heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 400px) {
    .section--heading {
        justify-content: space-around;
    }
}

.sale--style {
    padding: 4px 9px;
    border-radius: 4px;
    background-color: var(--Branding-Error, #EA4B48);
    color: white;
    width: fit-content;
    font-optical-sizing: 14px;
    font-weight: 400;
}

.sale--style span {
    font-weight: 500;
}

.button--style-one {
    padding: 16px 40px;
    background-color: white;
    color: var(--Branding-Success, #00B207);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 53px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.2s;
}

.button--style-one:hover {
    background-color: #00B207;
    color: white;
    border: 2px solid white;
}

.button--style-one:hover i {
    color: white;
}

.button--style-one i {
    color: var(--Branding-Success, #00B207);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s;
}

.button--style-two {
    background-color: #00B207;
    color: white;
    border: 2px solid #00B207;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 53px;
    cursor: pointer;
    transition: all 0.2s;
}

.button--style-two i {
    color: white;
    transition: all 0.2s;
}

.button--style-two:hover {
    background-color: white;
    color: var(--Branding-Success, #00B207);
}

.button--style-two:hover i {
    color: #00B207;
}

.add-to-cart__button {
    border-radius: 43px;
    background-color: #00B207;
    padding: 14px 32px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border: 2px solid #00B207;
    transition: all 0.2s;
}

.add-to-cart__button:hover {
    background-color: transparent;
    border: 2px solid #00B207;
    color: #00B207;
}

.add-to-cart__button:hover i {
    color: #00B207;
}

.add-to-cart__button i {
    color: white;
    transition: all 0.2s;
}
