.sign-in-section {
    padding: 80px 10px;
}

.sign-in__wrapper {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--Gray-Scale-Gray-50, #F2F2F2);
    background: var(--Gray-Scale-White, #FFF);
    box-shadow: 0px 0px 56px 0px rgba(0, 38, 3, 0.08);
}

.sign-in {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.email-password__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.passwords {
    display: flex;
    width: 100%;
    align-items: centers;
    justify-content: space-between;
}

.email-password__wrapper input[type='email'],
.password__wrapper input[type='password'],
.password__wrapper input[type='text'] {
    max-width: 472px;
    width: 100%;
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);
    background: var(--Gray-Scale-White, #FFF);
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 6px;
}

.remember-me input {
    accent-color: green;
}

.remember-me label {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.passwords a {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.passwords a:hover {
    text-decoration: underline;
}

.register {
    display: flex;
    align-items: center;
    gap: 6px;
}

.register p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.register a {
    font-size: 14px;
    font-weight: 500;
    color: #1A1A1A;
}

.register a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.password__wrapper {
    position: relative;
    width: 100%;
}

.password__wrapper i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
    color: #1A1A1A;
    font-size: 16px;
}
